--
-- PostgreSQL database dump
--

\restrict sU1jXVZbLyqQYgwbLndNeHifGqOqYg3LMob6sFCZdSNfU1f5PRne8YHhQgvSzUv

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg13+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO admin;

--
-- Name: GalleryItem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."GalleryItem" (
    id text NOT NULL,
    "imageUrl" text NOT NULL,
    "categoryId" text NOT NULL,
    "gallerySectionId" text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GalleryItem" OWNER TO admin;

--
-- Name: GallerySection; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."GallerySection" (
    id text NOT NULL,
    "maxItems" integer DEFAULT 4 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GallerySection" OWNER TO admin;

--
-- Name: HeroSection; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."HeroSection" (
    id text NOT NULL,
    "maxSlides" integer DEFAULT 3 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    key text DEFAULT 'home'::text NOT NULL
);


ALTER TABLE public."HeroSection" OWNER TO admin;

--
-- Name: HeroSlide; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."HeroSlide" (
    id text NOT NULL,
    "imageUrl" text NOT NULL,
    eyebrow text,
    title text NOT NULL,
    copy text,
    "heroSectionId" text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."HeroSlide" OWNER TO admin;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "customerFirstName" text NOT NULL,
    "customerLastName" text NOT NULL,
    "customerEmail" text NOT NULL,
    "customerPhone" text NOT NULL,
    "customerAddress" text NOT NULL,
    "customerCity" text NOT NULL,
    "customerPostalCode" text,
    subtotal double precision NOT NULL,
    "deliveryFee" double precision DEFAULT 0 NOT NULL,
    total double precision NOT NULL,
    "paymentMethod" text NOT NULL,
    "paymentStatus" text NOT NULL,
    "orderStatus" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Order" OWNER TO admin;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "productTitle" text NOT NULL,
    price double precision NOT NULL,
    quantity integer NOT NULL,
    total double precision NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO admin;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    price double precision NOT NULL,
    "seoTitle" text,
    "seoDesc" text,
    "seoTags" text,
    images text[] DEFAULT ARRAY[]::text[],
    thumbnail text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "categoryId" text NOT NULL,
    "subCategoryId" text NOT NULL
);


ALTER TABLE public."Product" OWNER TO admin;

--
-- Name: SubCategory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."SubCategory" (
    id text NOT NULL,
    name text NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "imageUrl" text
);


ALTER TABLE public."SubCategory" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Category" (id, name, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: GalleryItem; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."GalleryItem" (id, "imageUrl", "categoryId", "gallerySectionId", "position", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: GallerySection; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."GallerySection" (id, "maxItems", "createdAt", "updatedAt") FROM stdin;
cmunxi6m20001v64s2m0aw1h1	4	2026-09-30 09:54:37.946	2026-09-30 09:54:37.946
\.


--
-- Data for Name: HeroSection; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."HeroSection" (id, "maxSlides", "createdAt", "updatedAt", key) FROM stdin;
cmunxi6jf0000v64srrt3jas3	3	2026-09-30 09:54:37.785	2026-09-30 09:54:37.785	home
\.


--
-- Data for Name: HeroSlide; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."HeroSlide" (id, "imageUrl", eyebrow, title, copy, "heroSectionId", "position", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Order" (id, "orderNumber", "customerFirstName", "customerLastName", "customerEmail", "customerPhone", "customerAddress", "customerCity", "customerPostalCode", subtotal, "deliveryFee", total, "paymentMethod", "paymentStatus", "orderStatus", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."OrderItem" (id, "orderId", "productId", "productTitle", price, quantity, total) FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Product" (id, title, description, price, "seoTitle", "seoDesc", "seoTags", images, thumbnail, "createdAt", "updatedAt", "categoryId", "subCategoryId") FROM stdin;
\.


--
-- Data for Name: SubCategory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."SubCategory" (id, name, "categoryId", "createdAt", "updatedAt", "imageUrl") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: GalleryItem GalleryItem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_pkey" PRIMARY KEY (id);


--
-- Name: GallerySection GallerySection_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."GallerySection"
    ADD CONSTRAINT "GallerySection_pkey" PRIMARY KEY (id);


--
-- Name: HeroSection HeroSection_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."HeroSection"
    ADD CONSTRAINT "HeroSection_pkey" PRIMARY KEY (id);


--
-- Name: HeroSlide HeroSlide_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."HeroSlide"
    ADD CONSTRAINT "HeroSlide_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: SubCategory SubCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."SubCategory"
    ADD CONSTRAINT "SubCategory_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: GalleryItem_categoryId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "GalleryItem_categoryId_idx" ON public."GalleryItem" USING btree ("categoryId");


--
-- Name: GalleryItem_gallerySectionId_position_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "GalleryItem_gallerySectionId_position_idx" ON public."GalleryItem" USING btree ("gallerySectionId", "position");


--
-- Name: HeroSection_key_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "HeroSection_key_key" ON public."HeroSection" USING btree (key);


--
-- Name: HeroSlide_heroSectionId_position_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "HeroSlide_heroSectionId_position_idx" ON public."HeroSlide" USING btree ("heroSectionId", "position");


--
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- Name: OrderItem_productId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "OrderItem_productId_idx" ON public."OrderItem" USING btree ("productId");


--
-- Name: Order_createdAt_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_createdAt_idx" ON public."Order" USING btree ("createdAt");


--
-- Name: Order_orderNumber_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Order_orderNumber_key" ON public."Order" USING btree ("orderNumber");


--
-- Name: Order_orderStatus_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_orderStatus_idx" ON public."Order" USING btree ("orderStatus");


--
-- Name: Order_paymentStatus_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Order_paymentStatus_idx" ON public."Order" USING btree ("paymentStatus");


--
-- Name: Product_categoryId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Product_categoryId_idx" ON public."Product" USING btree ("categoryId");


--
-- Name: Product_subCategoryId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Product_subCategoryId_idx" ON public."Product" USING btree ("subCategoryId");


--
-- Name: SubCategory_categoryId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "SubCategory_categoryId_idx" ON public."SubCategory" USING btree ("categoryId");


--
-- Name: SubCategory_name_categoryId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "SubCategory_name_categoryId_key" ON public."SubCategory" USING btree (name, "categoryId");


--
-- Name: GalleryItem GalleryItem_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GalleryItem GalleryItem_gallerySectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_gallerySectionId_fkey" FOREIGN KEY ("gallerySectionId") REFERENCES public."GallerySection"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HeroSlide HeroSlide_heroSectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."HeroSlide"
    ADD CONSTRAINT "HeroSlide_heroSectionId_fkey" FOREIGN KEY ("heroSectionId") REFERENCES public."HeroSection"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_subCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_subCategoryId_fkey" FOREIGN KEY ("subCategoryId") REFERENCES public."SubCategory"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SubCategory SubCategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."SubCategory"
    ADD CONSTRAINT "SubCategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict sU1jXVZbLyqQYgwbLndNeHifGqOqYg3LMob6sFCZdSNfU1f5PRne8YHhQgvSzUv

